@model NikuHotel.ViewModel.PaymentBooking
@{
    ViewData["Title"] = "PaymentBookig";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    DateTime systemDate = System.DateTime.Today;

}

<h2>PaymentBookig</h2>




<h2>Create</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentBookig" asp-controller="Payments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" type="datetime" readonly value="@systemDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
  
                <select asp-for="Method" class="form-control" >
                    <option value="MusterCard">Card</option>
                    <option value="VishaCard" >Card</option>
                    <option value="Bkash" >Mobile Banking</option>
                </select>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" type="datetime" readonly value="@systemDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input asp-for="CheckOutTime" class="form-control" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Payment" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
