<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/Content/Customer/img/bg-img/bg-2.jpg);">
    <div class="bradcumbContent">
        <h2>About us</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-text mb-100">
                    <div class="section-heading">
                        <div class="line-"></div>
                        <h2>A place to remember</h2>
                    </div>
                    <p>Discover Our Rooms and Suites. Combining old-world charm with contemporary elegance, the rooms and suites at our five-star hotel cater for your every need – be it for business or pleasure. Enjoy our array of amenities for a relaxing stay at the best of Dhaka Bangladesh hotels.</p>
                    <a href="#" class="btn palatin-btn mt-50">Read More</a>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-thumbnail mb-100">
                    <img src="~/Content/Customer/img/bg-img/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->